.application{
    background-color: antiquewhite;
    background-image: url("https://images.ctfassets.net/pdf29us7flmy/2z2UHcJrokSHHZh05Clg5O/ca19af0a45a29da83dfa73b732a77337/Writing-a-General-Purpose-Cover-Letter-Social.png");

    font-size: 15px;
    font-family: 'Times New Roman', Times, serif;
    font-weight: bold;
    color: black;
    margin-top: 20px;
    background-color: rgb(225, 158, 71);
    
}



#form{
    background-color: rgb(197, 8, 8);
    font-size: 15px;
    font-family: 'Times New Roman', Times, serif;
    font-weight: bold;
    color: black;
    margin-top: 20px;
    background-color: rgb(196, 127, 37);
    


}

